<div id="footer-contents">
  <img src="/images/layout/travis-logo.png" id="travis-logo">
  <ul>
    <li><a href="http://twitter.com/travisci">Twitter</a></li>
    <li><a href="http://about.travis-ci.org/blog">Blog</a></li>
    <li><a href="http://about.travis-ci.org/newsletter">Newsletter</a></li>
    <li><a href="http://status.travis-ci.com">Status</a></li>
  </ul>
  <ul>
    <li><a href="http://about.travis-ci.org/docs">Documentation</a></li>
    <li><a href="http://api.travis-ci.org">API</a></li>
    <li><a href="http://travisci.com">Travis CI for private repositories</a></li>
    <li><a href="mailto:contact@travis-ci.com">Email</a></li>
  </ul>
  <ul>
    <li>Travis CI GmbH</li>
    <li>Prinzessinnenstr. 20</li>
    <li>10969 Berlin</li>
    <li>Germany</li>
  </ul>
  <img src="/images/layout/made-in-berlin-badge.png" id="made-in-berlin">
</div>
