<div id="top">
  <div class="wrapper">
    {{outlet top}}
  </div>
</div>

<div id="main">
  <div class="wrapper">
    {{outlet flash}}
    {{outlet main}}
  </div>
</div>

<div id="footer">
  <div class="wrapper">
    {{outlet footer}}
  </div>
</div>
